<!DOCTYPE html>
<html>
<head>
	<title>TO DO</title>
</head>
<body>
	<h1>TO DO LIST</h1>
	<input type="text" name=""></input>

		<% for (let i=0; i < todos.length; i++) { %>
	<h2><%=todos[i].task %></h2>
	<h3><%=todos[i].description %></h3>
<% } %>
</body>
</html>